* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para contenedor grid */
.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer" ;

    min-height: 100vh;
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 1fr;

}

/* Estilos para Header */
header {
    grid-area: header;
    background-color: #A66E38;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}

/* Estilos para el logo */
.logo {
    width: 3.5em;
    height: 3.5em;
}

/* Estilos para Barra lateral */
aside {
    grid-area: aside; 
    background-color: #FFAD60;
    display: none;
}


/* Estilos para sección principal */
main {
    grid-area: main;
    background-color: #FFEEAD;
    }

.gallery {
    display: grid;
    grid-template-columns: auto;
    gap: 2em;
    padding: 1em;

}       

.products {
    border: 1px solid #A66E38;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    
}

.images {
    width: 18em;
    height: 18em;
    object-fit: contain;
    filter: grayscale(100%);
    transition: transform 0.5s;
    padding-bottom: 1em;
    
}

.images:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.1);


}

.products > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.3em;
}

.precio {
    color: #A66E38;
}

.comprar {
    font-size: 1em;
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:#FCFAEE;
    border-radius: 10px;
    transition: all 0.6s;
}

.comprar:hover {
    cursor: pointer;
    background-color: #A66E38;
    color: #ffffff;
    
}

 /*Estilos para footer  */
footer {
    grid-area: footer;
    background-color: #96CEB4;
}